{% extends "bootstrap/base.html" %}

{% block content %}
<div class="row">
<div class="col-sm-6">
<pre>
kkOkOKNNXXK0KXNNNXNNNNNNNNWNNNNNNWNNNNNNWNNNNNNNNXKOxdooddxO0KXNNNNNNNNNNNNNNNNNXXXXK00OOOO0Okkxxxxdddoooollll
kO0000XNWWNXXKXXNNNNNWWNWWNNWWWWNWNNXK0OOOkOOOkd:,..        ..,coxKNNNWWNNWNNNNNNNNXK0000000OOOkxxxdddddoollcc
kOOKKXXXNNNNNXXXNNNNNNNNWWWWWWNX0xl:,'.........                   .:d0NWNNNWWNNNNNXXKKK00000OOOOOkkkkxxddoooll
kO0KKXXNNNNNNNNNNNNNNNNNNNNNKOl,..                                   .cxKNNNNNWNNNNXXXXXXXK00K000OkOOOkxdddoll
O00KXXKKXNNNNWWNNNNWWWWWNNKl;'.                                        .'lOXNWNNNNNXXNNNXKK000000OO0KK0Okkxxxx
0KKXNXXXXNNNNWWWWNNNWWWWXx'.            .                     .          ..;d0NNNNNNNNNXKKKKXKKKKKKK00OOO00Okx
NNNNNXXNNNNNWWWWWNNNNWW0:.       ..... ..                   ....          ...'o0NNNNNNXXKXXXXXXXXXKK0000000kxd
KNNWWNNNWWWWWWWWWNWWNNk,        ...''......                 ...              ..:kXNNNNXXXXXXXXXXXNNNNXXKK0Okkk
0KXNWWWWWWWWWWWWWWWWXd.         ..,;,,,,'..                                   ..,oKNNNNNXXNXXNNNNNNNNXXKK00O00
KXXNNNWWWWWWWWWWWWWXl.          ...'......                    ......            ..c0NNNNNNNNNNNNNXXNXXKK0000KK
KXXNNNNWWWWWWWWWWNKo.            ..    ...          ..     ..'....'','.          ..c0NNNNNNNNXXXXXXNXXKKXXXXXX
XXXXXNNNNNNWWWWWWXo.              ..''...........   .,.  ....     .......          .lKNNNNNNNNNNNNNXXXXXKKKKKK
NNNNNNNNNNWWWWWNXd.             .''.................;olcc:'.',,,;'........          .dXNNNNNNNNNNNNNXXXKKKKKKK
NNNWWWWWNWWWWWNNk'           ..''....''.',,;:;;::cldkOOOOOkkkkkkkxdoc,......         ;ONNNNNNNNNNNNNNXXKKKK000
WWWWWWWWWWWWWWNO,          .',.......,;:loddkOO000KKKKXXXXXXKXKK00K00Od:'......      .cKNNNNNNNNNNNXXXKKKKK0OO
WWWWWWWWWWWWWWXc          .,'.....;ldkOO0XXXXXXNNNXXXNNNNNNNNNNXXXXKKK0Od:...',.      .oXWNNNNNNNNXXXXXKKK00OO
WWWWWWWWWWWWWWO'         .......cdkOKXXNNNNNNNNNNNNNNNNNNNNNNNNNNNXXXKK0Oxl,. ',.      ;ONNNNNNXXXXXXXK000000O
WWWWWWWWWWWWNK:         .'. ..;oxO0XNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNXXKKKK0kl;..''.     .cONNNNXXXXNNNXXKKKK000
NWWWWWWWWWWW0:          ..  .:dxO0XNNNNNWWWWWWWWWWWWWWWWNNNNNNNNNNNNXKKKKK0kd:..''.    ..lKXNNNNNNNNNNXXXKK000
NNWWWWNWWNWKc.         .'. .,okO0XNNNNNNWWWWWWWWWWWWWWWWWWWWWWWWWWNNNXXXXXK0xo:. ........'oKNNNNNNNNNNNNNXXXKK
WWWWWWWWNWNd.         .''. 'ldk0XNNNNNNNNWWWWWWWWWWWWWWWWWWWNNNNNNNNNNXNNXKKOxx:     ..',',dXNNNNNNNNNNNNNNNNX
NWWWWWWWNW0;          .,...;ox0XNNNNNNNNNNNNNWWWWWWWWWWWNNNNNNNNNNNNNNXXXXK0kxkd.       .:::ONNNNNNNNNXXXXXXK0
NNWWWWWNNNd.         .,.. .cdkKXNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNWNNXK0Oxdol;,:dd'        .ccoXWNNNNNNNXXXKXXXK
WWWWWWNNNXc         .''.. 'lxOKXXNNNNNNNNNNNNNNNNNNNNNNNNNNNNWWWN0xo:,'...''..,o,         .:o0WWNWWWWNNNNNNNNN
NNWWWWWNWK:        ..... .:dxkKXXXK00OOO000KXNNNNNNWWWNNNNNWNNWXx;;::ldkO000kl,;:. ..     .;kKNWNWWWNNNNNNNNNX
NNNWWWWWW0;          .'. .lxxkkolc;;;:cc:::lodO0XNNNWWNNWNNWNNKklldolccldxk0NXOlc'  .     .,xXNNWWWWWNNNNNXXXK
NNNNNWWNW0:         ..'..,oxd:,:oxO00KKK0KK0OOkk0XXNNNNWWNNNNKkdoc;,..';oc.,xKKkoc.        .:0NNNNWWWNNNNXXXKK
NNNNNNNNWK:       .. .;..:ddc:dKNNX0kxl::;:ccloxOO0XNNNNNNNXOdod0Odc:ldOOl:oOK0kdl;.        'kNNNNNNNNNXXXXXKK
NNNNNNNWWXc         .::..ldddOXNXko:c:',''::d0OkOK0k0XNNNNW0ookO0KK0OO00kk0XXKOxol;.   .    'dXNNNNNNNNNNNNNXX
WWWWWWWWWNo.        ;l, 'oxxOKX0d;;ckKkddxxkXXXKKX0xx0XNNNW0llkKXXXXXXNNXXXXX0kxo:'     ..  'dXNNNNNNNNNNNNX00
WWWWWWWWWNx.       .:c. .cxOK00Okk0O0KXXKKXXXNNNXK0xxOXNNWWXdcok0KXNNNNNNXXXK0kdl;.      ...'xXNNWNNWNNNNNXXK0
WWWWWWWWWWk.       ,c;. .:x000KXK00KXNNNNNNNWWNNXK00O0KNNNNNxcokO0KXNNNNNNNXKOkdc'        ...xNNWWWWWWNNNXXK0O
WWWWWWWWWWx.     .;lc.  .;okO0KXXKKKKXNNNNNNNNXXXKKK00KXNNNNkclk0KXXNNNNNNNXK0ko:.           lNWNNNWWWNNNXXK0O
WWWWWWWWWK:     .;ol'    .:okO0KXXXXXXXXXXXXXXXXKKKXKKKKXNNN0llO0KXNNNNNNNXKKOkl,.           lNNNNNWWWNNNNNNXX
NWWWWWWWXl     .;l:....   .:dk0KXXNXXXXXXKKXXXXXXNNXX000KNNNXo:xKKXNNNNNXXXKOkd:.           .xNNNWWWWWWWWWWNNN
NNWWWNWXo.    .:c,. ....   .cdk0KXNNXXXXXXXXXNNNNNNNK0kk0XNNXkcoOKXNNNNXXXK0kxo;.           ,ONNWNNNNNNNNNNNXX
NWWWWNNo.   .':;.   .',:;.  ':okOKXXXXXXXXXNNNNNNNNK00kxOXNNNKxxxkKNNNNXXKKOkdl,.         ..,xNNNNNNNNNNNNNNNX
NWNNNNk.  .';:,.      .,c:. ..:dkOKKXXXXXXXNNNNNNNXO00kxOKXXXKkxxx0NNNXXXK0Oxdc.           .,c0NNNNNNNNNNNXXXX
NNWNN0;  .,cc'          ...   .cdk0KKKKXXXXXNNNNNNK0Oxc:lxO00kl:oxOKKXXXXK0kdl,.          ..';kNNNNNXXXNNXK000
NNNWNo. .,c:.                 .':okO00KKKXXXXNNNNXK0kl,..;x00x:',;:codkO0OOko:.          ....'dNNNNNNNXXXXK00O
NNNWK; .'::'.                  .':oxkO0KKKXXXK0Oxl::,....:xxOk:.....'',;coooc,.           ....oXNNNNXXXXXXXK0O
XNNN0, .;:,.                    ..;ldkO0KKKK0koc::;,..';cdd:lkd:;,:odxdl:,;;'.        ..     .oXNNNXXXXXKKK0Ok
XNXNO' .;,'.                     .',cxkO0OOxlcoxxdol:coddxddddolc:;:oO0kl'...          ..    .kNNNNNXXKKKKK000
XXNNO. .,'.                       ..:ldkkxl;:d0Odllcc:cllooddddooodxOOOkl'...               .:0NNNWNXKK0000000
XXNN0; .'..                   .    ..;colc;,lk0KKXK0OkOOOOOO0OOOOO0OOOkd:..            ..   .dXXNNNXK00OOOOOOO
KXNNXo. ..                    .,......','..;ldk000KKKXXKKKKKKKKKK00OOxo;... ..          ...  'dKNNXKK0OOkkkxdd
0XNNNx.                       .:c,...'.....':coxO0KKKKK000OxdxOOOOkdl:'.    .            .... .;xKXK0Okxxddddd
k0KXN0:                       .:ddc,.........';cldkO000Okdc,',:lodl;...                     ..  .lOKK0Okxxdxxx
OKXXNXx.                      .:dOOd:.. ........',:loolc;'.. ...,,...    .           ..        . .;xKKK0Oxddxx
O0KXN0c.                      .cxO0K0d:.  .........'''... ..  ....      ..            ..        ...;OKK0kxddol
x0K0d'                        ,okO0XXXKOo;'. ....',...    ..  ..     ...'                .       .,,xK0Okxddoo
oOd,.....       .....        'cdkO0XXXNNXKOo:,....'...   .... ...    .;:,       .                .;,d0Okxdollc
oc.. ...    ...,;'..        .;ldkk0KXXXNNNNXKOxl,''...    .....''....:ll,       ...              ..;x0Oxxdl:;'
c... .,.   .,c;,.         .',:coxk0KKKXXXNNNXXXKkoc,..',. ..,clc:,.':dxl,        .,...            .lOK0Oxol:,.
;...  ..   .;ccc.       .,::cccldkO000KKKXXXXXXXK0Okd;',''cdk0Okoccoxkxo,          ...             .:dOkxoc;,'
l. .       .,:c;.     .':clloolloxkOO000KKXXNNXXXXKKKOoccckKKK00OOkOOOkdc'.         ...              .;coo:...
dc.          .','.    .,cllodddooodxkkOO00KXXXXXXXXKKKKK00KXK00OO0000OOxo:,,'...       ..              ..:c'
l'             ....    ':cloddddddodddxkkO00KKXXNXXKK0KKKKXXK0OO0KKK00Oxdl:::;;'.......            ...   .,,.
.      ..  ..       .. .:cclloooddddddxxxxkOO0KXNXXK00KKKXXXK0Ok0KKK000Okxocccc,,;,''..',.....    ..'.....'::;
...    ... .'.  .  ....,cloloooooodddxxxxkkkOOO0KXXK0O00KKXKK0kkkO0K00KK0Okxdolldxdlloddo:,,,,,,,'',,'...'lxxx
c,......;'.''..',...';odoodxxxkkkkkkOkOOO000OOOO00KK0OkkO0KKK0kxxkOOOOKKKK00Oxxk0kddxkOkkdoc;;;;,,;,'''':oxkkk
xdc::;,;;;:,,''lc'..,lxOkxxxkO00KKXXXXKKKKXXKK00K0KKK0Okkk0KKKOxdxxxkk0KKKKKOxkKOdodk0K00kxxolooooollloxkkO000
xkkxddolloolllccc:;''cdkO00OkkO00KXXXXXXXXXXXXXKKKKXXXK000O00KK0OkkkkO00KKK0O0KOxodxO0KKKOkkkkkkkkkkOO000KKKKK
0OkkkkkOOOOkdoollllcoxkkxO0KKOkkkO00KKKXXXXXXXXXXXKKKKKKXKKKKKK0000000000OOOKX0xdkkOKKXXK0OOOO000000KKKKKKKKKK
NXXKKKKXXXXXXK00000KK0OOkO0KKKKK0OOOOOO000KKKKKKKKKK00KKKKKKKKK0000000OOkO0XX0kkk00KKXXXXKOOO00KKKXXXXXXXXXKKK
</pre>
</div>
<div class="col-sm-6">
  <p>
  {{message }}
  </p>
</div>
</div>
{% endblock %}
